body, html {
    height: 100%;
    margin: 0;
}


.video-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
}


#backgroundVideo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.content-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    overflow-y: auto; 
}


.images-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap; 
}

.image-container {
    width: 100%;
    max-width: 5cm;
    margin: 0 10px 20px;
    box-sizing: border-box; 
    position: relative;
}

.image {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}

.image:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
    border-radius: 10px;
}


